@{
    ViewData["Title"] = "Home - Country Swing";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the World of Country Swing</h1>
    <hr />
    
    <div class="row">
        <img src="reddress.jpeg" alt="Line Dancing" />
        <img src="swingdancing.jpeg" alt="Swing Dancing" />
        </div>
    </div>

    <div class="mt-4">
        <p>Boots, belt buckles, and bell bottoms may be the first things that come to mind when you hear country dancing. But when I think of it, I think of contrast. I think of tension and release learning how to exist together.
            In dance, strength without softness becomes rigid—forced and unforgiving. Softness without strength collapses, unable to hold its own weight. Grace doesn’t come from choosing one over the other; it is created only when both are present at the same time, working in opposition.
            Every step requires both grounding and lift. 
        <p>Every turn depends on resistance—something to push against, something to pull away from. Balance isn’t found in stillness or ease, but in motion, in the constant negotiation between opposing forces. A dancer is never free from tension; they are simply learning how to move through it.
            Country dancing teaches you that growth doesn’t come from avoiding pressure or discomfort. It comes from learning how to use them. When tension is met with control and trust, it transforms into momentum. What once felt restrictive becomes the very thing that makes movement possible. 
            Whether you're looking to learn basic footwork or high-flying aerials, I'm here to help you 
            find your rhythm on the dance floor.</p>
    </div>